# ---- OS / Windows 系ごみ ----
*Zone.Identifier


# ローカル用の環境スナップショット
requirements_system.txt
requirements_all.txt

# プロジェクトの個人メモ
traffic_analysis_project_notes_*.md

# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境
.venv/
venv/
env/

# ---- ipynb, HTML 出力 ----
*.html
.ipynb_checkpoints/


# ---- データ ----
data/raw/
*.csv

# .vscode 配下は基本全部無視
.vscode/*
# ただし、以下の設定ファイルは管理対象に含める
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# nvim-jupy ブリッジ用の一時ファイルは完全に無視
.vscode/nvim-sync.json
