# ---- OS / Windows 系ゴミ ----
*Zone.Identifier


# ローカル用の環境スナップショット
requirements_system.txt
requirements_all.txt



# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境名（将来この中に .venv 作っても安心）
.venv/
venv/
env/

# ---- Jupyter / HTML 出力 ----
traffic_analysis_project.ipynb
traffic_analysis_project.html

# 将来的に他のノートブックも ignore したいならこっちでもOK
*.ipynb
*.html

# ---- データ（方針次第）----
# 生データを data/raw にまとめる方針にするなら ↓ を採用
data/raw/
*.csv

# .vscode 配下は基本全部無視
.vscode/*
# ただし settings.json だけは Git 管理したい
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# nvim-jupy ブリッジ用の一時ファイルは完全に無視
.vscode/nvim-sync.json
